[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/svarshneysjsu/cyclonedds.git
[submodule "go2_dashboard"]
	path = go2_dashboard
	url = https://github.com/svarshneysjsu/go2_dashboard.git
