[submodule "cyclonedds"]
	path = cyclonedds
	url = https://github.com/eclipse-cyclonedds/cyclonedds.git
[submodule "go2_dashboard"]
	path = go2_dashboard
	url = https://github.com/bentheperson1/go2_dashboard.git
